 <div class="education-container container-block">
<h2 class="container-block-title">Ausbildung</h2>

<div class="item">
    <h4 class="degree">Softwareentwickler HF</h4>
    <h5 class="meta">Höhere Fachschule für Technik - Grenchen</h5>
    <div class="time">2005 - 2008</div>
</div>

<div class="item">
    <h4 class="degree">Wirtschaftsinformatik</h4>
    <h5 class="meta">WISS</h5>
    <div class="time">2004 - 2005</div>
</div>

<div class="item">
    <h4 class="degree">Informatikerlehre (Softwareentwicklung)</h4>
    <h5 class="meta">Ascom Enterprise Communication AG</h5>
    <div class="time">1999 - 2003</div>
</div>

</div>