<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Erfahrungen</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior-Softwareentwickler / Inahber</h3>
                            <div class="time">2016 - Aktuell</div>
                        </div>
                        <div class="company">HivenNet GmbH, Herzogenbuchsee</div>
                    </div>
                    <div class="details">
                        <p>Diverse Softwareentwicklungsprojekte</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Softwareentwickler / Inahber</h3>
                            <div class="time">2009 - 2016</div>
                        </div>
                        <div class="company">Sprintix GmbH, Ostermundigen</div>
                    </div>
                    <div class="details">
                      <p>Diverse Softwareentwicklungsprojekte</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Softwareentwickler .NET</h3>
                            <div class="time">2008 - 2009</div>
                        </div>
                        <div class="company">Swisscom IT, Ostermundigen</div>
                    </div>
                    <div class="details">
                        <p>Mehrere Projekte im .NET Umfeld</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java Softwareentwickler</h3>
                            <div class="time">2007 - 2008</div>
                        </div>
                        <div class="company">Pulinco, Egerkingen</div>
                    </div>
                    <div class="details">
                        <p>Customizing und Produktentwicklung.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Webentwickler / Webmaster</h3>
                            <div class="time">2005 - 2007</div>
                        </div>
                        <div class="company">BEA expo AG, Bern</div>
                    </div>
                    <div class="details">
                       <p>Webentwicklung und Einführung eines CMS für mehrere Unternehmenswebsites.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systemtechniker</h3>
                            <div class="time">2004 - 2005</div>
                        </div>
                        <div class="company">IRV, Bern</div>
                    </div>
                    <div class="details">
                       <p>Systemadministration und Support.</p>
                    </div>
                </div>
                
                
            </section>