<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projekte</h2>
                <!--
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>
                -->

                <div class="item">
                    <span class="project-title">XMP Toolkit Addon für Node.js</span></br>
                    <span class="project-tagline">Node.js Modul zum extrahieren von Bildinformationen (XMP)</span>
                </div>

                <div class="item">
                    <span class="project-title">RDF Converter Microservice</span></br>
                    <span class="project-tagline">Microservice zum konvertieren der verschiedenen RDF Formate</span>
                </div>

                <div class="item">
                    <span class="project-title">NameBrain</span></br>
                    <span class="project-tagline"></span>
                </div>

                <div class="item">
                    <span class="project-title">ePostOffice - Mobile Android App</span></br>
                    <span class="project-tagline"></span>
                </div>

                <div class="item">
                    <span class="project-title">ePostOffice - Mobile Hybrid App</span></br>
                    <span class="project-tagline"></span>
                </div>

                <div class="item">
                    <span class="project-title">Intranet News Applikation</span></br>
                    <span class="project-tagline"></span>
                </div>

                <div class="item">
                    <span class="project-title">Moba</span></br>
                    <span class="project-tagline"></span>
                </div>

                <div class="item">
                    <span class="project-title">URL Rewrite</span></br>
                    <span class="project-tagline"></span>
                </div>

                <div class="item">
                    <span class="project-title">Equidenpässe</span></br>
                    <span class="project-tagline"></span>
                </div>

                <div class="item">
                    <span class="project-title">Tierverkehrsdatenbank</span></br>
                    <span class="project-tagline"></span>
                </div>



            </section>