<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projekte</h2>
    <!--
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>
                -->

    <div class="item">
        <span class="project-title">Entwicklung eines neuen Registers</span></br>
        <span class="project-tagline">Web-Portal für ein öffentliches Verzeichnis</span>
    </div>

    <div class="item">
        <span class="project-title">XMP Toolkit Addon für Node.js</span></br>
        <span class="project-tagline">Node.js Modul zum extrahieren von Bildinformationen (XMP)</span>
    </div>

    <div class="item">
        <span class="project-title">XMP Toolkit Addon für Node.js</span></br>
        <span class="project-tagline">Node.js Modul zum extrahieren von Bildinformationen (XMP)</span>
    </div>

    <div class="item">
        <span class="project-title">XMP Toolkit Addon für Node.js</span></br>
        <span class="project-tagline">Node.js Modul zum extrahieren von Bildinformationen (XMP)</span>
    </div>

    <div class="item">
        <span class="project-title">RDF Converter Microservice</span></br>
        <span class="project-tagline">Microservice zum konvertieren der verschiedenen RDF Formate</span>
    </div>

    <div class="item">
        <span class="project-title">NameBrain</span></br>
        <span class="project-tagline">
            Entwicklung einer internen mobile App für das Lernen und Verwalten von Kontakten.
        </span>
    </div>

    <div class="item">
        <span class="project-title">ePostOffice - Mobile App</span></br>
        <span class="project-tagline">
            ePostOffice ist die neue Internetplattform, über die Absender und Empfänger einfach und sicher kommunizieren. Die Empfänger wählen, wie sie ihre Post erhalten wollen. Physisch im Briefkasten oder auf dem elektronischen Weg. Die Plattform befindet sich noch in der Entwicklung.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Intranet News Applikation</span></br>
        <span class="project-tagline">
            Die Intranet News Applikation dient dazu, den Mitarbeitern die aktuellsten Information zur Verfügung zu stellen. Die alte Applikation erfüllt nicht mehr 
alle Anforderungen und muss daher durch eine neue Lösung abgelöst werden. Die neue Applikation ist noch in Entwicklung.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Moba</span></br>
        <span class="project-tagline">
            Postmitarbeiter haben mit einem Moba Abonnement die Möglichkeit, von ihrem mobilen Gerät auf ihren Exchange Account zuzugreifen. Die Moba Applikation bietet den Administratoren die Verwaltung der Abonnenten und den Nutzern eine Installationsplattform. Damit die Benutzer kein Benutzername und kein Passwort eingeben müssen muss die Verbindung zum Server mit einem persönlichen Zertifikat geschützt werden.
        </span>
    </div>

    <div class="item">
        <span class="project-title">URL Rewrite</span></br>
        <span class="project-tagline">
            Applikation zur Verwaltung von Url Shortcuts oder Url Umleitungen im Post Intranet.
        </span>
    </div>

    <div class="item">
        <span class="project-title">CZV (Chauffeurzulassungsverordung)</span></br>
        <span class="project-tagline">
            Applikation zu Verwaltung der Chauffueren und deren Zulassungen.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Equidenpässe</span></br>
        <span class="project-tagline">
            Applikation für Equidenpässe. Der Equidenpass ist ein Identifikationsdokument für Pferde, Ponys, Esel, Maulesel und Maultiere.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Tierverkehrsdatenbank</span></br>
        <span class="project-tagline">
            Seit Dezember 1999 zeichnet die Identitas im Auftrag des Bundes die Bewegungsdaten der in der Schweiz gehaltenen Rinder auf. Die Tierverkehrsdatenbank garantiert damit die Rückverfolgbarkeit im Seuchenfall und trägt dem Bedürfnis der Konsumenten nach einem sicheren Herkunftsnachweis Rechnung.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Mehrere Projekte im Bereich der Steuerberechnung</span></br>
        <span class="project-tagline">
            Entwickeln von mehreren Anwendungen, um die Steuerberechnungen zu automatisieren und entsprechende Exports zu generieren.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Pop3 Kollektor</span></br>
        <span class="project-tagline">
            Anwendung zum Abrufen von Pop3 Mail Accounts und die Weiterleitung an einen anderen Mal Account.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Operational Risk Management</span></br>
        <span class="project-tagline">
            Entwicklung einer Web-Anwendung für die Verwaltung der Operational Risks in der Bank. Die Anwendung basiert auf Silverlight und wurde in Sharepoint integriert.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Internal Control System</span></br>
        <span class="project-tagline">
            Weiterentwicklung einer Web-Anwendung für die Verwaltung und Kontrolle der internen Abläufe. Die Lösung basiert auf SharePoint und wird weltweit genutzt.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Firewall Provisioning System</span></br>
        <span class="project-tagline"></span>
    </div>

    <div class="item">
        <span class="project-title">Shared Hosted Services</span></br>
        <span class="project-tagline">
            Schwerpunkt dieses Projekts war die Entwicklung eines Frameworks für die automatisierte Provisionierung von hostbaren Services. Das Framework besteht aus einer Provisionierungsengine (Workflow basierend) und einer Zugriffsschnittstelle (Enterprise API).
        </span>
    </div>

    <div class="item">
        <span class="project-title">TopEase</span></br>
        <span class="project-tagline">
            Mehrere Projekte im Bereich Entwicklung von Produkterweiterungen und Schnittstellen für das Produkt TopEase. Zudem Customizing von Portalen und Reports.
        </span>
    </div>

    <div class="item">
        <span class="project-title">Einführung eines CMS</span></br>
        <span class="project-tagline">
            Einführung eines CMS für Veranstaltungswebsites.
        </span>
    </div>

</section>